extends layout
block content
    h1 GameNight
    section#gathering
        h2 Gathering
        div#gathering-add-user
            h2 Enter username to add to Gathering
            form(name="add-user" ng-submit="addUser(addUserInputUsername)")
                input#add-user-input(
                    type="text"
                    name="add-user"
                    ng-model="addUserInputUsername"
                    required
                    ng-required
                )
                input#add-user-button(
                    type="button"
                    value="Add User"
                    class="btn btn-sm btn-success"
                    ng-click="addUser(addUserInputUsername)"
                )
        div#gathering-info(ng-cloak ng-show="ready")
            div#gathering-users
                h3 Users
                ol(ng-show="Gathering.users.length")
                    li(ng-repeat="user in Gathering.users")
                        ul.user
                            li
                                span(class="title") Username:
                                span(ng-show="user.username") {{user.username}}
                                span(ng-show="!user.username") not set
                            li
                                span(class="title") First Name:
                                span(ng-show="user.userData.firstname.value") {{user.userData.firstname.value}}
                                span(ng-show="!user.userData.firstname.value") not set
                            li
                                span(class="title") Last Name:
                                span(ng-show="user.userData.lastname.value") {{user.userData.lastname.value}}
                                span(ng-show="!user.userData.lastname.value") not set
                            li
                                span(class="title") Id:
                                span(ng-show="user.userData.id") {{user.userData.id}}
                                span(ng-show="!user.userData.id") not set
                        div.actions
                            button.delete-user(
                                ng-click="deleteUser(user)"
                                class="btn btn-danger btn-xs"
                            )
                                i(class="fa fa-trash")
                p(ng-show="Gathering.users.length == 0") No users in Gathering, add users above.
            //div#gathering-location
                h3 Location
                if typeof Gathering.location.name != "undefined"
                    span #{Gathering.location.name}
                else
                    span No Gathering location set.
    section#games
        h2 Available Games
        ol
            li(ng-repeat="game in Gathering.games") {{game.name.$t}}
    section#filters